<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WarframeUnity.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <WarframeUnity.Properties.Settings>
            <setting name="ShowAll" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MinCredits" serializeAs="String">
                <value>2000</value>
            </setting>
            <setting name="PlaySound" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Sound" serializeAs="String">
                <value>0</value>
            </setting>
        </WarframeUnity.Properties.Settings>
    </userSettings>
</configuration>